{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load i18n admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/changelists.min.css' %}">
{% endblock %}

{% block content %}
  <div id="content-main" class="list-content">
    {% block object-tools %}

      
    {% endblock %}
    
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
     
{% comment %} <form class="change-form" action="" method="post" id="creategraph_form" novalidate=""> {% endcomment %}

<form action="{% url 'prove' %}" method="GET">{% csrf_token %}
      <input type="hidden" name="csrfmiddlewaretoken" value="iBhGJclNNVbX9Hvc60UDt7GIuGtcl1qbem1hJOcCVNFo25JNAV478n7Gj5dWZck0">
      
      <div>
        <div class="module indent"> 
          <link rel="stylesheet" href="/static/material/admin/css/additional_submit_line.min.css">
          <fieldset class="module aligned ">
          <div class="form-row field-inizio">
            <div class="input-field">
            <label class="required" for="id_inizio"></label>
              <div class="date-input date-block">
            <div class="modal datepicker-modal" id="modal-38088600-7b6d-593b-d8bd-eb0d19593804" tabindex="0"><div class="modal-content datepicker-container"><div class="datepicker-date-display"><span class="year-text"></span><span class="date-text"></span></div><div class="datepicker-calendar-container"><div class="datepicker-calendar"></div><div class="datepicker-footer"><button class="btn-flat datepicker-clear waves-effect" style="" type="button">Svuota</button><div class="confirmation-btns"><button class="btn-flat datepicker-cancel waves-effect" type="button">Cancel</button><button class="btn-flat datepicker-done waves-effect" type="button">Ok</button></div></div></div></div></div><input id="id_inizio" type="text" name="inizio" class="datepicker" value="">
            Data Inizio
        </div>
        <div class="time-difference"></div>
        </div>
    </div>
  


    <div class="form-row field-fine">  
        <div class="input-field">
            <label class="required" for="id_fine"></label>
              <div class="date-input date-block">
            <div class="modal datepicker-modal" id="modal-232df95c-a29c-c2e1-b63c-21e81ca1a9e0" tabindex="0"><div class="modal-content datepicker-container"><div class="datepicker-date-display"><span class="year-text"></span><span class="date-text"></span></div><div class="datepicker-calendar-container"><div class="datepicker-calendar"></div><div class="datepicker-footer"><button class="btn-flat datepicker-clear waves-effect" style="" type="button">Svuota</button><div class="confirmation-btns"><button class="btn-flat datepicker-cancel waves-effect" type="button">Cancel</button><button class="btn-flat datepicker-done waves-effect" type="button">Ok</button></div></div></div></div></div><input id="id_fine" type="text" name="fine" class="datepicker" value="">
        Data Fine
    </div>
    <div class="time-difference"></div>
        </div> 
    </div>

    <div>  
    <select name="prova">
    {% for prova in prove %}
        <option value="{{prova.id}}">{{prova.titolo}}</option>
    {% endfor %}
    </select>
  </div>

</fieldset>

          
<link rel="stylesheet" href="/static/material/admin/css/submit_line.min.css">

<div class="submit-row">


  <div class="open-actions">
    
      
      <button type="submit" class="default waves-effect waves-light btn" name="_save">
          Crea grafico
          <i class="material-icons right">insert_chart_outlined</i>
      </button>
      
      
    
  </div>
</div>

          
            <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="creategraph">
            </script>
          
        </div>

        
        
<script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>


      </div>
    </form>
       
      </div>
    </div>
  </div>
{% endblock %}